@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.main-button {
    background-color: #2A1CC7;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
}

.main-button:hover {
    background-color: #6A5FE4;
    cursor: pointer;
}

.main-button:active {
    background-color: #21169E;
}

.main-button:disabled {
    background-color: #403E54;
}