.auth-input {
  
}

.auth-input__label {
  display: block;
}

.auth-input__input {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #4343a4;
  padding: 0 20px;
  font-size: 16px;
}